<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <p>
        <%= current_user.username %> is currently logged in.
      </p>
      <form class="" action="<%= session_url %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" name="" value="Log out">
      </form>
    <% else %>
      <a href="<%= new_session_url %>">Log in page</a>
    <% end %>
    <%= yield %>
  </body>
</html>
